@model ShipmentOrderSearchModel
@using Honotop.WMS.Models.ShipmentOrders
@using Honotop.WMS.Utiliy
@{
    ViewBag.Title = "出库单列表";
    ViewBag.MenuIdentifier = "ShipmentOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">货主代码</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">源单号</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ERPOrder, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">发货省份</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ShipToState, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">商品编码</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.SKU, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 " for="Warehouse">订单类型</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.ShipmentType, SelectedListHelper.GetSelectedItemList(SelectedListType.ShipmentTypeList), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">承运代码</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.Carrier, SelectedListHelper.GetSelectedItemList(SelectedListType.CarrierList), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">商品数量</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ProductQuantity, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">渠道销售</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.ShipTo, SelectedListHelper.GetSelectedItemList(SelectedListType.InventoryChannelList), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 " for="Warehouse">订单模式</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.ShipmentType, SelectedListHelper.GetSelectedItemList(SelectedListType.OrderTypeList), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">客户姓名</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ShiptoName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">联系电话</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ShiptoMobile, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">波次号码</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Wave, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">处理类型</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.ProcessType, SelectedListHelper.GetSelectedItemList(SelectedListType.ShipmentProcessTypeList), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">店铺名称</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.CarrierService, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">订单品牌</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.OrderBrand, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">快递单号</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.ExpressNum, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">创建起始</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.CreatedStartTime, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">创建结束</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.CreatedEndTime, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">发货起始</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.DeliveryStartTime, new { @class = "form-control",@type="date" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">发货结束</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.DeliveryEndTime, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="row my-bottom">
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">起始状态</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.StatusStart, SelectedListHelper.GetSelectedItemList(SelectedListType.ShipmentStatusList), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">结束状态</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(m => m.StatusEnd, SelectedListHelper.GetSelectedItemList(SelectedListType.ShipmentStatusList), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">单总件数</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.TotalQuantity, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 text-right" for="Warehouse">出库单号</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.ShipmentId, new { @class = "form-control", @placeholder = "多个单号查询时，用逗号分隔，如何 123，345，678" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                查询
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="white-space:nowrap;overflow:scroll;-webkit-backface-visibility:hidden;-webkit-overflow-scrolling:touch;">
                        <table id="OrdersTable"></table>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#OrdersTable').bootstrapTable({
                                method: 'post',
                                striped: true,
                                pagination: true,
                                queryParams: InqueryParams,
                                sidePagination: 'server',
                                queryParamsType: 'limit',
                                pageNumber: 1,
                                pageSize: 10,
                                pageList: [10, 25, 50, 100],
                                locale: 'zh-CN',
                                columns:
                                    [
                                        {
                                            field: 'INTERNAL_SHIPMENT_NUM',
                                            title: '',
                                            events: operateEvents,
                                            formatter: '<input type="button" name="view_order" class="btn btn-primary" value="明细"/>'

                                        },
                                        {
                                            field: 'INTERNAL_SHIPMENT_NUM',
                                            title: '内部号'
                                        },
                                        {
                                            field: 'SHIPMENT_ID',
                                            title: '发货单号',
                                            width: 150,
                                        }, {
                                            field: 'SHIP_TO_EMAIL_ADDRESS',
                                            title: '订单类别'
                                        }, {
                                            field: 'COMPANY',
                                            title: '货主'
                                        }, {
                                            field: 'SHIPMENT_SUB_TYPE',
                                            title: '订单模式'
                                        }, {
                                            field: 'SHIP_TO_FAX_NUM',
                                            title: '品牌'
                                        }, {
                                            field: 'CARRIER_SERVICE',
                                            title: '店铺名称'
                                        }, {
                                            field: 'SHIPMENT_TYPE',
                                            title: '订单类型'
                                        }, {
                                            field: 'TASK_ID',
                                            title: '任务号'
                                        }, {
                                            field: 'USER_DEF2',
                                            title: '来源渠道'
                                        }, {
                                            field: 'IS_CAINIAO_BILL_SERVER',
                                            title: '是否菜鸟云打印'
                                        }, {
                                            field: 'ERP_ORDER',
                                            title: '源单号'
                                        }, {
                                            field: 'CARRIER',
                                            title: '承运人'
                                        }, {
                                            field: 'REQUESTED_DELIVERY_DATE',
                                            title: '下单时间',
                                            formatter: TimeFormatter
                                        }, {
                                            field: 'USER_DEF8',
                                            title: '运单号'
                                        }, {
                                            field: 'TOTAL_QTY',
                                            title: '总数'
                                        }, {
                                            field: 'INTERNAL_WAVE_NUM',
                                            title: '波次号'
                                        }, {
                                            field: 'INTERNAL_LOAD_NUM',
                                            title: '装载号'
                                        }, {
                                            field: 'SHIP_TO_NAME',
                                            title: '收货人'
                                        }, {
                                            field: 'SHIP_TO_STATE',
                                            title: '省份'
                                        }, {
                                            field: 'SO_EMAIL_ADDRESS',
                                            title: '套装类别'
                                        }, {
                                            field: 'LEADING_STS',
                                            title: '首状态'
                                        }, {
                                            field: 'TRAILING_STS',
                                            title: '尾状态'
                                        }, {
                                            field: 'PROCESS_TYPE',
                                            title: '取消标识'
                                        }, {
                                            field: 'REJECTION_NOTE',
                                            title: '拒绝标识'
                                        }, {
                                            field: 'CREATE_DATE_TIME',
                                            title: '创建时间',
                                            formatter: TimeFormatter
                                        }, {
                                            field: 'ACTUAL_SHIP_DATE_TIME',
                                            title: '发货时间',
                                            formatter: TimeFormatter
                                        }, {
                                            field: 'UPLOAD_INTERFACE_FLAG',
                                            title: '上传标识'
                                        }
                                    ]
                            });
                        });

                        function InqueryParams(params) {
                            var temp = {
                                pageNumber: params.pageNumber,
                                pageSize: params.limit,
                                Company: $("input[name='Company']").val(),
                                ShipmentId: $("#ShipmentId").val(),
                                ShipmentType: $("input[name='ShipmentType']").val(),
                                ERPOrder: $("input[name='ERPOrder']").val(),
                                ShipToState: $("input[name='ShipToState']").val(),
                                SKU: $("input[name='SKU']").val(),
                                ProductQuantity: $("input[name='ProductQuantity']").val(),
                                Carrier: $("input[name='Carrier']").val(),
                                ShipTo: $("input[name='ShipTo']").val(),
                                ShipmentSubType: $("input[name='ShipmentSubType']").val(),
                                ShiptoName: $("input[name='ShiptoName']").val(),
                                ShiptoMobile: $("input[name='ShiptoMobile']").val(),
                                Wave: $("input[name='Wave']").val(),
                                ProcessType: $("input[name='ProcessType']").val(),
                                CarrierService: $("input[name='CarrierService']").val(),
                                StatusStart: $("input[name='StatusStart']").val(),
                                StatusEnd: $("input[name='StatusEnd']").val(),
                                ExpressNum: $("input[name='ExpressNum']").val(),
                                TotalQuantity: $("input[name='TotalQuantity']").val(),
                                CreatedStartTime: $("input[name='CreatedStartTime']").val(),
                                CreatedEndTime: $("input[name='CreatedEndTime']").val(),
                                DeliveryStartTime: $("input[name='DeliveryStartTime']").val(),
                                DeliveryEndTime: $("input[name='DeliveryEndTime']").val()
                            };

                            return temp;
                        }


                        function TimeFormatter(val) {
                            if (val != null) {
                                var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                                var hour = date.getHours();
                                var min = date.getMinutes();
                                var seconds = date.getSeconds();
                                var time = date.getFullYear() + "-" + month + "-" + currentDate;
                                if (hour == "0" || hour == "00") {
                                    return time;
                                } else {
                                    return time + " " + hour + ":" + min + ":" + seconds;
                                }
                            }
                            return "";

                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="detailModal">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">明细列表——<span id="header"></span></h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="form-horizontal">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table id="ProductListTable"></table>
                                    <script>
                                        $(document).ready(function () {
                                            $('#ProductListTable').bootstrapTable({
                                                method: 'post',
                                                striped: true,
                                                pagination: true,
                                                queryParams: InqueryParams,
                                                sidePagination: 'client',
                                                queryParamsType: 'limit',
                                                pageNumber: 1,
                                                pageSize: 10,
                                                pageList: [15, 25, 50, 100],
                                                columns:
                                                    [
                                                        {
                                                            field: 'INTERNAL_SHIPMENT_LINE_NUM',
                                                            title: '行号'
                                                        }
                                                        , {
                                                            field: 'ITEM',
                                                            title: '货品'
                                                        }, {
                                                            field: 'COMPANY',
                                                            title: '货主'
                                                        }, {
                                                            field: 'ITEM_DESC',
                                                            title: '货品名称'
                                                        }, {
                                                            field: 'REQUEST_QTY',
                                                            title: '请货数量'
                                                        }, {
                                                            field: 'TOTAL_QTY',
                                                            title: '确认发货数量'
                                                        }, {
                                                            field: 'QUANTITY_UM',
                                                            title: '单位'
                                                        }, {
                                                            field: 'PICK_LOC',
                                                            title: '拣货库位'
                                                        }, {
                                                            field: 'ALLOCATION_RULE',
                                                            title: '拣货规则'
                                                        }, {
                                                            field: 'ATTRIBUTE1',
                                                            title: '生成日期',
                                                            formatter: TimeFormatter
                                                        }, {
                                                            field: 'ATTRIBUTE2',
                                                            title: '失效日期',
                                                            formatter: TimeFormatter
                                                        }, {
                                                            field: 'ATTRIBUTE3',
                                                            title: '销售渠道'
                                                        }, {
                                                            field: 'ATTRIBUTE4',
                                                            title: '批次号'
                                                        }, {
                                                            field: 'STATUS',
                                                            title: '状态'
                                                        }
                                                    ]
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    window.operateEvents = {
        'click input[name="view_order"]': function (e, value, row, index) {
            var orderId = value;
            var shipmentId = row.SHIPMENT_ID;
            var company = row.COMPANY;
            $('#header').html(company + '|' + shipmentId);
            $('#ProductListTable').bootstrapTable('refresh', { url: '@Url.Action("OrderDetailListJson", "ShipmentOrder")' + '?orderId=' + orderId, pageNumber: 1 });
            $("#detailModal").modal();
        },
    }

    $(document).ready(function () {
        $('#search').on('click', function () {
            $('#OrdersTable').bootstrapTable('refresh', { url: '@Url.Action("OrderList", "ShipmentOrder")', pageNumber: 1 });
        });
    });

</script>
